<!DOCTYPE html>
<html lang="es">

    
    <%- include("./partials/head.ejs") %> 
    
    <body>

    <main class="main__error404">
        <section class="main__error404-container">
            <h1 class="main__error404-h1">Error 404: La página solicitada no existe</h1>
            <h3 class="main__error404-h3">Aún así, ¡puedes seguir explorando nuestra web, seleccionando alguno de los siguientes enlaces!</h3>
            <ul class="main__error404-ul">
                <li class="main__error404-li"><a href="/">Página principal</a></li>
                <li class="main__error404-li"><a href="/products/Procesadores">Productos</a></li>
                <li class="main__error404-li"><a href="/ayuda">Sección de ayuda</a></li>
                <li class="main__error404-li"><a href="/login">Inicio de sesión</a></li>
            </ul>
        </section>
    </main>
</body>
</html>