<footer>

    <div class="footer__brands">
        <img src="/images/brands-assets/hyperx.png" alt="hyperxLogo" id="hyperx">
        <img src="/images/brands-assets/gigabyte.png" alt="gigabyteLogo" id="gigabyte">
        <img src="/images/brands-assets/msi.png" alt="msiLogo" id="msi">
        <img src="/images/brands-assets/asus.png" alt="asusLogo" id="asus">
        <img src="/images/brands-assets/seagate.png" alt="seagateLogo" id="seagate">
        <img src="/images/brands-assets/thermal.png" alt="thermalLogo" id="thermal">
        <img src="/images/brands-assets/nvidia.png" alt="nvidiaLogo" id="nvidia">
    </div>

    <div class="footer__container">
        <div class="footer__work">
            <p class="footer__work-p">Trabajá con nosotros</p>
            <img src="/images/footer-assets/qr.png" alt="qr código" id="footer__work-img">
        </div>

        <div class="footer__contact">
            <p class="footer__contact-p">Nuestras redes sociales</p>
            <div class="footer__contact-imgs">
                <a href="#"><img src="/images/footer-assets/fb.svg" alt="facebook"></a>
                <a href="#"><img src="/images/footer-assets/tw.svg" alt="twitter"></a>
                <a href="#"><img src="/images/footer-assets/ig.svg" alt="instagram"></a>
                <a href="#"><img src="/images/footer-assets/tch.svg" alt="twitch"></a>
            </div>
        </div>

        <div class="footer__about">
            <a href="#">
                <p class="footer__about-p">¿Quiénes somos?</p>
            </a>
            <a href="#">
                <p class="footer__about-p">Política de privacidad</p>
            </a>
        </div>

    </div>

    <script src="/js/userProfile.js"></script>
</footer>