<header>
    <div class="header__container">
        <a href="/index"><img src="/images/header-assets/logo.svg" alt="logoTuringTech" id="header__logo"></a>
        <form action="/results" method="get" class="header__form">
            <input type="text" name="search" id="search" class="header__search" placeholder="Buscar...">
            <button type="submit" class="header__lupa"><img src="/images/header-assets/lupa.svg" alt="lupa"></button>
        </form>
        <div class="header__container-user-car">
            <% if(locals.userLogged){ %>
                <div class="header__profile-container">
                    <img src="/images/users-assets/<%= locals.userLogged ? locals.userLogged.imageUser : 'default-image.png'%>" alt="Img de perfil" class="header__profile-img">
                    <img src="/images/header-assets/arrow.svg" alt="Flecha de opciones" class="header__profile-arrow">
                    <div class="header__profile-opts">
                        <a href="/pageProfile" class="header__profile-opts-main">Mi cuenta</a>
                        <a href="/out" class="header__profile-opts-logout">Cerrar sesión</a> 
                    </div>
                </div>
                <a href="/productCart"> <img src="/images/header-assets/carrito.svg" alt="carrito" id="header__car"></a>
            <% }else{ %>
                <a href="/login"><img src="/images/header-assets/user.svg" alt="usuario" id="header__user"></a>
                <a href="/productCart"> <img src="/images/header-assets/carrito.svg" alt="carrito" id="header__car"></a>
            <% } %>
        </div>
    </div>

    <nav id="header__nav">
        <div class="hamburger-css">
            <button class="hamburger hamburger--emphatic" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
        </div>
        <ul class="nav__ul">
            <li class="nav__li"><a href="/products/Equipos" class="nav__a">Productos</a></li>
            <li class="nav__li"><a href="/pageProfile" class="nav__a">Mi cuenta</a></li>
            <li class="nav__li"><a href="/ayuda" class="nav__a">Ayuda</a></li>
            <li class="nav__li"><a href="#" class="nav__a">Encontrá tu equipo</a></li>
            <li class="nav__li"><a href="/presentacion" class="nav__a">Sobre Nosotros</a> </li>
        </ul>
    </nav>

</header>