<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %> 
    
    <main class="main__container">

        <class class="nosotros">
            <h1>Sobre nosotros</h1>
            <h2>Team Turing Tech</h2>
        </class>
        <!-- <div class="equipo1"> -->
        <class class="card">
        <div class="card__main">
            <div class="card__div">
                <div class="card__circle">
                    <div class="card__img">
                        <img src="/images/presentacion/presentacion.jpeg" alt="Diego Hidalgo">
                    </div>
                </div>
            </div>
            <div class="card__description">
                <h3>Diego Hidalgo</h3>
                <h4>Programador Web Full Stack</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia assumenda placeat necessitatibus odit ipsam aliquid iure cum voluptatem sunt  </p>
            </div>
            <div class="contact">
                <a class="contact-a" href="https://www.linkedin.com/in/diego-hidalgo-2001/">Linkedin</a>
                <a class="contact-a" href="https://github.com/DiegoH2001">Git Hub</a>
                <a class="contact-a" href="/cv/diego.pdf">CV</a>
                
            </div>
        </div>
    <!-- </div> -->

        <div class="card__main">
            <div class="card__div">
                <div class="card__circle">
                    <div class="card__img">
                        <img src="/images/presentacion/sergio.jpg" alt="Gabriel Maqueda">
                    </div>
                </div>
            </div>
            <div class="card__description">
                <h3>Gabriel Maqueda</h3>
                <h4>Programador Web Full Stack</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia assumenda placeat necessitatibus odit ipsam aliquid iure cum voluptatem sunt  </p>
            </div>
            <div class="contact">
                <a class="contact-a" href="https://www.linkedin.com/in/sergio-gabriel-maqueda-its/">Linkedin</a>
                <a class="contact-a" href="https://github.com/Gabriel-mq">Git Hub</a>
                <a class="contact-a" href="/cv/sergio.pdf">CV</a>
            </div>
        </div>
    

        <div class="card__main">
            <div class="card__div">
                <div class="card__circle">
                    <div class="card__img">
                        <img src="/images/presentacion/facundo.jpg" alt="Facundo de Benedetti">
                    </div>
                </div>
            </div>
            <div class="card__description">
                <h3>Facundo de Benedetti</h3>
                <h4>Programador Web Full Stack</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia assumenda placeat necessitatibus odit ipsam aliquid iure cum voluptatem sunt  </p>
            </div>
            <div class="contact">
                <a class="contact-a" href="https://www.linkedin.com/in/facundo-de-benedetti/">Linkedin</a>
                <a class="contact-a" href="https://github.com/FacundoDamianDeBenedetti">Git Hub</a>
                <a class="contact-a" href="/cv/facu.pdf">CV</a>
            </div>
        </div>

        <div class="card__main">
            <div class="card__div">
                <div class="card__circle">
                    <div class="card__img">
                        <img src="/images/presentacion/jessi.jpg" alt="Jessica Balbuena">
                    </div>
                </div>
            </div>
            <div class="card__description">
                <h3>Jessica Balbuena</h3>
                <h4>Programador Web Full Stack</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia assumenda placeat necessitatibus odit ipsam aliquid iure cum voluptatem sunt  </p>
            </div>
            <div class="contact">
                <a class="contact-a" href="https://www.linkedin.com/in/jessicabalbuena/">Linkedin</a>
                <a class="contact-a" href="https://github.com/jessicabalbuena">Git Hub</a>
                <a class="contact-a" href="/cv/jessi.pdf">CV</a>
            </div>
        </div>
    </class>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>

